@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Portal</h1>
    <h3>Welcome, @ViewData["UserID"] </h3>
</div>
<div>
    <a href="Employees/Add">Add New Employees</a>
</div>
<div>
    <a href="Employees">Employees List</a>
</div>