@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="site.css" />
</head>
<div class="text-center ">
    <h1 class="display-4">Employee Portal</h1>
    <h3>Welcome,@ViewData["UserName"] <br/></h3>
    <h4>UserID: @ViewData["UserID"] </h4>
</div>
<div class="button">
    <button><a href="/Employees/Add">Add New Employees</a></button><br /><br />
    <button><a href="/Employees">Employees List</a></button>
</div>-